<style></style>

<section class="story-section">
  <div class="left">
    <video
      id="myVideo"
      width="600"
      muted>
      <source src="/assets/video/mov_bbb.mp4" type="video/mp4">
      Your browser does not support HTML video.
    </video>
  </div>
  <div class="right">
    <h2>Know Our Story</h2>
    <div class="text">
      <span>Amanté is an international intimate wear brand, offering comfort, fashion, and sensuality to the modern South Asian woman. 5 words which describe the amanté woman, and the philosophies embedded in each of our designs are: Spirited. Sensual. Sophisticated. Stylish. Self-assured.</span>
      <span>Our products are made for the ever evolving modern woman of today who just like fashion, is an ever-evolving canvas. Her tastes, roles, goals, ambitions and even her body are in a constant state of evolution. We at amanté, understand and embrace these changes.
      </span>
    </div>
    <button>Read More --></button>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"></div>
      </div>
    </div>
  </div>
  <div class="bottom"></div>
</section>
{% schema %}
  {
    "name": "story-section",
    "tag": "section",
    "class": "",
    "settings": [],
    "presets": [
      {
        "name": "story-section",
        "settings": {}
      }
    ]
  }
{% endschema %}